[build-system]
build-backend = "setuptools.build_meta"
{% if editable %}requires = ["setuptools >= 64", "setuptools-scm>=8"]

[tool.setuptools_scm]
# NAT uses the --first-parent flag to avoid tags from previous releases which have been merged into the develop branch
# from causing an unexpected version change. This can be safely removed if developing outside of the NAT repository.
git_describe_command = "git describe --long --first-parent"
root = "{{ rel_path_to_repo_root}}"{% else %}requires = ["setuptools >= 64"]{% endif %}

[project]
name = "{{ package_name }}"
{% if editable %}dynamic = ["version"]{% else %}version = "0.1.0"{% endif %}
dependencies = [
  "{{ nat_dependency }}",
]
requires-python = ">=3.11,<3.14"
description = "Custom NeMo Agent Toolkit Workflow"
classifiers = ["Programming Language :: Python"]

{% if editable %}[tool.uv.sources]
nvidia-nat = { path = "{{ rel_path_to_repo_root}}", editable = true }{% endif %}

[project.entry-points.'nat.components']
{{ package_name }} = "{{ package_name }}.register"
